
<!DOCTYPE html>
<html>
     <head>
      <meta charset="utf-8">
         <title>
             Login
         </title>
         {% load bootstrap4 %}
         {% bootstrap_css %}
     </head>
     <body  style="text-align: center;background-color:#7702a0"> 
      <form method="POST" action="">
         {% csrf_token%}
         <div>
            <div class ="mx-auto rounded-lg; rounded-lg modal-body" style="width: 300px;  margin-top: 9.5%; background-color:#31639c">
              <br>
              <!-- Iinicio Imangen -->
              <img class="mb-4 rounded-circle" width="75" height="75" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFvDIU26_8cxG5ZaL0Nzc-eHZynj2QtXLfO5kfRLvQRgQPIko1"><br>
             <!-- Fin Imangen -->
              <br>
               <input type="text"  style="width:265px;" class=" form-control ds-input" name="user" placeholder="Usuario" required><br><br>
               <input type="password" style="width:265px;" class="form-control ds-input" name="password" placeholder="Contraseña" required><br>
               <button class="btn btn-dark" type="submit" style="width:265px;" >Iniciar sesion</button><br><br>
               <a style="color: azure;" href="{% url 'Landing:Landing'%}">ir al landing </a><br>
               <a style="color: azure;" href="{% url 'Registro:Registro'%}">Registro</a><br> <br>
               {% if error %}
                  <h1 style="font-size: 18px;color: azure;"> {{error}} </h1> 
               {%endif%}
          </div>
         </div>     
       </form>
        {% bootstrap_javascript jquery='full' %}
     </body>
     
</html>
