
<!DOCTYPE html>
<html>
     <head>
      <meta charset="utf-8">
         <title>
             Login
         </title>
         {% load bootstrap4 %}
         {% bootstrap_css %}
     </head>
     <body  style="text-align: center;background-color:#152CC4">
      <form method="POST" action="">
         {% csrf_token%}
         <div>
            <div class ="mx-auto border border-white; rounded-lg modal-body" style="width: 300px;  margin-top: 12%;">
              <br>
              <!-- Iinicio Imangen -->
              <img class="mb-4 rounded-circle" width="75" height="75" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFvDIU26_8cxG5ZaL0Nzc-eHZynj2QtXLfO5kfRLvQRgQPIko1"><br>
             <!-- Fin Imangen -->
              <br>
               <input type="text"  class=" form-control ds-input border border-dark"  name="user" placeholder="Usuario" required><br><br>
              
               <input type="password"  class="form-control ds-input border border-dark"  name="password" placeholder="Contraseña" required><br><br>
              
               <button class="btn btn-dark" type="submit" >Iniciar sesion</button><br>
               <a href="{% url 'Landing:Landing'%}">ir al landing </a> <br>
               {% if error %}
                  <h1> {{error}} </h1> 
               {%endif%}
          </div>
         </div>     
       </form>
        {% bootstrap_javascript jquery='full' %}
     </body>
     
</html>
