
<!DOCTYPE html>
<html>
     <head>
      <meta charset="utf-8">
         <title>
             Registro
         </title>
         {% load bootstrap4 %}
         {% bootstrap_css %}
     </head>
     <body  style="text-align: center;background-color:#483d8b">
      <form method="POST" action="">
         {% csrf_token%}
         <div>
            <div class ="mx-auto border border-white; rounded-lg modal-body" style="width: 300px;  margin-top: 6.5%;">
              <br>
              <img class="mb-4 rounded-circle" width="75" height="75" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQFvDIU26_8cxG5ZaL0Nzc-eHZynj2QtXLfO5kfRLvQRgQPIko1"><br>
              <br>
              {% if form_get.username.value %}
                   {{ form_get.username }}
              {% else %}
                   {{ form_get.username }}
              {% endif %}
              <br>
              {% if form_get.first_name.value %}
                   {{ form_get.first_name }}
              {% else %}
                   {{ form_get.first_name }}
              {% endif %}
              <br>
              {% if form_get.last_name.value %}
                   {{ form_get.last_name }}
              {% else %}
                   {{ form_get.last_name }}
              {% endif %}
              <br>
              {% if form_get.password.value %}
                   {{ form_get.password }}
              {% else %}
                  {{ form_get.password }}
              {% endif %}
              <br>
              {% if form_get.email.value %}
                   {{ form_get.email }}
              {% else %}
                   {{ form_get.email }}
              {% endif %}
              
             <br>
               <button class="btn btn-dark" type="submit" >Guardar</button><br><br>
          </div>
         </div>     
       </form>
        {% bootstrap_javascript jquery='full' %}
     </body>
     
</html>